/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-primary: #FFB600;
  --gray-primary: #666666; 
  --gray-secondary: #E5E5E5;
  --gray-terciary: #E0E0E0;
}

.orange-primary { color: var(--orange-primary); }
.gray-primary { color: var(--gray-primary); }
.gray-secondary { color: var(--gray-secondary); }
.bg-orange-primary { background-color: var(--orange-primary); }
.bg-gray-primary { background-color: var(--gray-primary); }
.bg-gray-secondary { background-color: var(--gray-secondary); }
.bg-gray-terciary { background-color: var(--gray-terciary); }
.shadow-primary { box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.16); }

body {
  margin: 0;
  color: var(--gray-primary);
  background: var(--gray-secondary);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--gray-terciary);
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 20px;
  border: 1px solid var(--gray-terciary);
}

#home-page {
  background-image: url('./assets/rococo.png');
}
